Repository pencil2d/pencil, pull requests merged in 2018-12, with the labels that each got.

#1137 Improve darkmode QDockWidget titlebar
  app/src/displayoptionwidget.cpp
  core_lib/src/external/macosx/macosx.cpp
  core_lib/src/external/macosx/macosxnative.h
  core_lib/src/external/macosx/macosxnative.mm
  core_lib/src/external/platformhandler.h
  core_lib/src/interface/basedockwidget.cpp
Labels: os:mac, ux

#1140 Update Qt version used by Appveyor to 5.12
  appveyor.yml
Labels: continous integration

#1139 Fix audio volume in movie export
  core_lib/src/movieexporter.cpp
Labels: bug, bug: file-export, sound

#1144 Renable dark mode on macOS
  app/data/Info.plist
  core_lib/src/external/macosx/macosxnative.mm
Labels: ux
