Repository pencil2d/pencil, pull requests merged in 2019-12, with the labels that each got.

#1267 Painting improvements
  core_lib/src/canvaspainter.cpp
  core_lib/src/canvaspainter.h
  core_lib/src/interface/scribblearea.cpp
  core_lib/src/interface/scribblearea.h
  core_lib/src/tool/erasertool.cpp
Labels: :large_blue_diamond:, canvas, enhancement

#1283 #944 Reorder palette swatches with drag and drop
  app/src/colorpalettewidget.cpp
  app/src/colorpalettewidget.h
  app/src/mainwindow2.cpp
  core_lib/src/graphics/vector/vectorimage.cpp
  core_lib/src/graphics/vector/vectorimage.h
  core_lib/src/interface/scribblearea.cpp
  core_lib/src/structure/layervector.cpp
  core_lib/src/structure/layervector.h
  core_lib/src/structure/object.cpp
  core_lib/src/structure/object.h
Labels: :small_blue_diamond:, color palette, enhancement, hacktoberfest

#1246 Feature that can Change Line Color on Bitmap layer
  app/src/actioncommands.cpp
  app/src/actioncommands.h
  app/src/colorpalettewidget.cpp
  app/src/mainwindow2.cpp
  app/src/mainwindow2.h
  app/src/preferencesdialog.cpp
  app/ui/mainwindow2.ui
  core_lib/src/structure/layerbitmap.h
Labels: :small_blue_diamond:, bitmap, color palette, ux

#1297 #1177 Added possibilities for import positions
  app/src/importpositiondialog.cpp
  app/src/importpositiondialog.h
  core_lib/src/interface/editor.cpp
  core_lib/src/managers/viewmanager.h
Labels: :small_blue_diamond:, import-export
