Repository pencil2d/pencil, pull requests merged in 2019-09, with the labels that each got.

#1257 #1105 Added checks on timelinecells, so scrub is tracked
  core_lib/src/interface/timelinecells.cpp
  core_lib/src/interface/timelinecells.h
Labels: enhancement, timeline, ux

#1261 Layer import, from *.pclx to active project
  app/app.pro
  app/src/importlayersdialog.cpp
  app/src/importlayersdialog.h
  app/src/mainwindow2.cpp
  app/src/mainwindow2.h
  app/ui/importlayersdialog.ui
  app/ui/mainwindow2.ui
  core_lib/src/structure/object.cpp
  core_lib/src/structure/object.h
Labels: :small_blue_diamond:, import-export

#1235 Improve numbered image import
  app/app.pro
  app/src/actioncommands.cpp
  app/src/actioncommands.h
  app/src/importexportdialog.cpp
  app/src/importexportdialog.h
  app/src/importimageseqdialog.cpp
  app/src/importimageseqdialog.h
  app/src/mainwindow2.cpp
  app/src/mainwindow2.h
  app/src/predefinedsetmodel.cpp
  app/src/predefinedsetmodel.h
  app/ui/importexportdialog.ui
  app/ui/importimageseqoptions.ui
  app/ui/importimageseqpreview.ui
  app/ui/mainwindow2.ui
  core_lib/src/interface/editor.cpp
  core_lib/src/interface/editor.h
  core_lib/src/managers/layermanager.cpp
  core_lib/src/managers/layermanager.h
Labels: :small_blue_diamond:, enhancement, import-export

#1268 Miscellaneous enhancements
  app/src/mainwindow2.cpp
  core_lib/src/graphics/bitmap/bitmapimage.cpp
  core_lib/src/graphics/bitmap/bitmapimage.h
  core_lib/src/interface/scribblearea.cpp
Labels: :small_blue_diamond:, enhancement
