Repository pencil2d/pencil, pull requests merged in 2020-07, with the labels that each got.

#1368 eyedroppertool improvements
  core_lib/src/graphics/vector/vectorimage.cpp
  core_lib/src/graphics/vector/vectorimage.h
  core_lib/src/tool/eyedroppertool.cpp
Labels: tool: eye-dropper

#1399 Apply suggested improvements to the language list
  app/src/preferencesdialog.cpp
Labels: translation

#1394 Disabling OK until files are selected and verified
  app/src/importimageseqdialog.cpp
  app/src/importimageseqdialog.h
Labels: import-export, ux

#1405 [WIP] Pre 0.6.5
  README.md
  app/data/org.pencil2d.Pencil2D.metainfo.xml
  common.pri
Labels: release
