Repository pencil2d/pencil, pull requests merged in 2020-10, with the labels that each got.

#1481 Eyedropper improvements
  core_lib/src/graphics/bitmap/bitmapimage.h
  core_lib/src/tool/eyedroppertool.cpp
Labels: Bug, QoL, UX

#1486 Undo/redo bug fixes
  app/src/actioncommands.cpp
  core_lib/core_lib.pro
  core_lib/src/interface/backupelement.cpp
  core_lib/src/interface/backupelement.h
  core_lib/src/interface/editor.cpp
  core_lib/src/interface/editor.h
  core_lib/src/interface/scribblearea.cpp
  core_lib/src/interface/scribblearea.h
  core_lib/src/interface/timeline.cpp
  core_lib/src/managers/selectionmanager.cpp
  core_lib/src/tool/smudgetool.cpp
Labels: Bug, Crash, Smudge Tool, Undo

#1423 Statusbar update with zoom and Timecode/Frames/NoText
  app/src/mainwindow2.cpp
  app/src/mainwindow2.h
  core_lib/src/interface/editor.cpp
  core_lib/src/interface/editor.h
  core_lib/src/interface/timecontrols.cpp
  core_lib/src/interface/timecontrols.h
  core_lib/src/interface/timeline.cpp
  core_lib/src/managers/preferencemanager.cpp
  core_lib/src/managers/preferencemanager.h
  core_lib/src/util/pencildef.h
Labels: Enhancement, UI

#1487 Implement separate reset pan and rotation options
  app/src/mainwindow2.cpp
  app/src/shortcutspage.cpp
  app/ui/mainwindow2.ui
  core_lib/data/resources/kb.ini
  core_lib/src/managers/viewmanager.cpp
  core_lib/src/managers/viewmanager.h
  core_lib/src/structure/camera.cpp
  core_lib/src/util/pencildef.h
Labels: Camera, Canvas, Enhancement, UX
