Repository pencil2d/pencil, pull requests merged in 2021-04, with the labels that each got.

#1589 Onion skin panel touchups
  app/src/onionskinwidget.cpp
  app/ui/onionskin.ui
Labels: :small_blue_diamond:, Enhancement, UI

#1584 Camera interpolation. Camera rewrite (1)
  core_lib/core_lib.pro
  core_lib/src/interface/timelinecells.cpp
  core_lib/src/interface/timelinecells.h
  core_lib/src/structure/camera.cpp
  core_lib/src/structure/camera.h
  core_lib/src/structure/layer.h
  core_lib/src/structure/layercamera.cpp
  core_lib/src/structure/layercamera.h
  core_lib/src/util/cameraeasingtype.h
  core_lib/src/util/camerafieldoption.h
  tests/src/test_viewmanager.cpp
Labels: Camera, Feature Request

#1590 Add fill tool transparency mode switch
  app/src/tooloptionwidget.cpp
  app/src/tooloptionwidget.h
  app/ui/tooloptions.ui
  core_lib/src/graphics/bitmap/bitmapimage.cpp
  core_lib/src/graphics/bitmap/bitmapimage.h
  core_lib/src/managers/toolmanager.cpp
  core_lib/src/managers/toolmanager.h
  core_lib/src/tool/basetool.cpp
  core_lib/src/tool/basetool.h
  core_lib/src/tool/buckettool.cpp
  core_lib/src/tool/buckettool.h
  core_lib/src/util/pencildef.h
Labels: :small_blue_diamond:, Enhancement, Paint Bucket
