Repository pencil2d/pencil, pull requests merged in 2023-10, with the labels that each got.

#1776 Painting performance improvements - Tiled buffer
  app/src/actioncommands.cpp
  app/src/colorpalettewidget.cpp
  app/src/mainwindow2.cpp
  core_lib/core_lib.pro
  core_lib/src/canvaspainter.cpp
  core_lib/src/canvaspainter.h
  core_lib/src/graphics/bitmap/bitmapimage.cpp
  core_lib/src/graphics/bitmap/bitmapimage.h
  core_lib/src/graphics/bitmap/tile.cpp
  core_lib/src/graphics/bitmap/tile.h
  core_lib/src/graphics/bitmap/tiledbuffer.cpp
  core_lib/src/graphics/bitmap/tiledbuffer.h
  core_lib/src/graphics/vector/vectorimage.cpp
  core_lib/src/interface/editor.cpp
  core_lib/src/interface/editor.h
  core_lib/src/interface/scribblearea.cpp
  core_lib/src/interface/scribblearea.h
  core_lib/src/managers/toolmanager.cpp
  core_lib/src/tool/basetool.cpp
  core_lib/src/tool/brushtool.cpp
  core_lib/src/tool/brushtool.h
  core_lib/src/tool/buckettool.cpp
  core_lib/src/tool/cameratool.cpp
  core_lib/src/tool/erasertool.cpp
  core_lib/src/tool/movetool.cpp
  core_lib/src/tool/penciltool.cpp
  core_lib/src/tool/penciltool.h
  core_lib/src/tool/pentool.cpp
  core_lib/src/tool/pentool.h
  core_lib/src/tool/polylinetool.cpp
  core_lib/src/tool/selecttool.cpp
  core_lib/src/tool/smudgetool.cpp
  core_lib/src/tool/stroketool.cpp
  core_lib/src/tool/stroketool.h
  core_lib/src/util/blitrect.cpp
Labels: Canvas, Performance

#1787 Add custom Windows tile
  .github/actions/create-package/create-package.sh
  .github/workflows/ci.yml
  app/app.pro
  app/data/pencil2d.VisualElementsManifest.xml
  app/data/resources.xml
  app/data/resources/tile150.scale-100.png
  app/data/resources/tile150.scale-140.png
  app/data/resources/tile150.scale-180.png
  app/data/resources/tile150.scale-80.png
  app/data/resources/tile70.scale-100.png
  app/data/resources/tile70.scale-140.png
  app/data/resources/tile70.scale-180.png
  app/data/resources/tile70.scale-80.png
  core_lib/core_lib.pro
  tests/tests.pro
  util/appveyor-mingw.yml
  util/appveyor-msvc.yml
  util/common.pri
Labels: Enhancement, Packaging, Windows

#1772 Buckettool fill bugs
  app/src/bucketoptionswidget.cpp
  app/src/bucketoptionswidget.h
  app/src/tooloptionwidget.cpp
  app/ui/bucketoptionswidget.ui
  core_lib/src/graphics/bitmap/bitmapbucket.cpp
  core_lib/src/graphics/bitmap/bitmapbucket.h
  core_lib/src/managers/toolmanager.cpp
  core_lib/src/managers/toolmanager.h
  core_lib/src/tool/basetool.cpp
  core_lib/src/tool/basetool.h
  core_lib/src/tool/buckettool.cpp
  core_lib/src/tool/buckettool.h
  core_lib/src/util/pencildef.h
  tests/src/test_bitmapbucket.cpp
Labels: Bug, Undo, Camera, Paint Bucket

#1790 Fix perspective overlays not always covering the entire view
  core_lib/src/canvaspainter.cpp
  core_lib/src/canvaspainter.h
  core_lib/src/interface/scribblearea.cpp
  core_lib/src/interface/scribblearea.h
  core_lib/src/overlaypainter.cpp
  core_lib/src/overlaypainter.h
  core_lib/src/util/util.cpp
  core_lib/src/util/util.h
  tests/tests.pro
Labels: Bug, Canvas
