Repository pencil2d/pencil, pull requests merged in 2024-07, with the labels that each got.

#1856 Improve preferences layout for long translations
  app/src/preferencesdialog.cpp
  app/ui/generalpage.ui
  app/ui/preferencesdialog.ui
Labels: UX, Preferences, Crash

#1854 Fix fade in/out not working properly.
  app/src/layeropacitydialog.cpp
  app/src/layeropacitydialog.h
  app/src/timelinecells.cpp
  app/ui/layeropacitydialog.ui
Labels: Bug

#1869 Fix brush cursor size with canvas rotation
  core_lib/src/canvascursorpainter.cpp
Labels: Bug, Canvas, UI, :small_blue_diamond:
