Repository pencil2d/pencil, pull requests merged in 2024-04, with the labels that each got.

#1820 Fix crash when importing image to empty frame on hidden layer
  app/src/timelinecells.cpp
  core_lib/src/interface/editor.cpp
  core_lib/src/interface/editor.h
  core_lib/src/structure/layer.cpp
  core_lib/src/structure/layer.h
  core_lib/src/util/pencilerror.cpp
  core_lib/src/util/pencilerror.h
Labels: Bug, Timeline, UI, Crash, File Import

#1822 Fix polyline buffer not always being cleared
  core_lib/src/tool/polylinetool.cpp
Labels: Bug, Polyline Tool, Vector, :small_blue_diamond:

#1823 Remove "macdeployqtfix" from our deployment script
  .github/actions/create-package/create-package.sh
  .gitignore
Labels: Packaging, macOS, Continous Integration

#1825 Enable C++17 by default when building against Qt 6
  .github/workflows/ci.yml
  util/common.pri
Labels: Enhancement, Compilation

#1826 Enable newly added translations
  app/app.pro
  app/src/generalpage.cpp
  translations/pencil.ts
  translations/pencil_nl_NL.ts
Labels: Translation

#1829 Fix gaps when drawing with small pen and antialiasing off
  core_lib/src/graphics/bitmap/tiledbuffer.cpp
  core_lib/src/graphics/bitmap/tiledbuffer.h
Labels: Bug, Bitmap

#1834 Fix crash when drawing on hidden layer
  core_lib/src/interface/scribblearea.cpp
  core_lib/src/tool/basetool.h
  core_lib/src/tool/stroketool.cpp
  core_lib/src/tool/stroketool.h
Labels: Bug, Crash

#1836 Warn that translation changes require restart in new language
  app/src/generalpage.cpp
Labels: Enhancement, Translation, UI

#1833 Prevent MP4 export with invalid resolution
  app/src/exportmoviedialog.cpp
  app/src/exportmoviedialog.h
  app/src/importexportdialog.cpp
  app/src/importexportdialog.h
  app/ui/exportmovieoptions.ui
Labels: Enhancement, UX, File Export
